# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# folders in the hardware/ project
hardware/hardware_frontend/compiled/**
hardware/hardware_frontend/bin/**
hardware/hardware_frontend/bld/**
hardware/hardware_frontend/*.jsproj.user
hardware/hardware_frontend/.vs/**

# folders in the cloud/ project
cloud/PillDispenserWeb/node_modules/**
cloud/PillDispenserWeb/bin/**
cloud/PillDispenserWeb/obj/**
cloud/PillDispenserWeb.Tests/bin/**
cloud/PillDispenserWeb.Tests/obj/**
cloud/.vs/**
