@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Views/Layouts/SideMenu.cshtml";
}
<link rel="stylesheet" href="@Url.Content("~/partials/css/CardContainer.css")" type="text/css" />
<h1> Welcome! </h1>
<p> this is the Index.cshtml of Home</p>
<div id="container"> Loading React.NET... </div>
<div style="width: 1000px; height: 1000px"> very long item</div>

<script src="@Url.Content("~/dist/Dashboard-dist.js")" type="text/javascript"></script>
