@model PillDispenserWeb.Models.DataTypes.Patient
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details for @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName) </title>
    <h1> </h1>
</head>
<body>
</body>
</html>
